body {
    margin: 0;
    padding: 0;
    background: rgb(0,35,172);
    background: linear-gradient(293deg, rgba(0,35,172,1) 0%, rgba(0,189,255,1) 99%);
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
